@page "/"
@using System

<h2>Mancano <Scadenza /> giorni al cassonetto.</h2>
<br />
<h3>Se ti interessa acquistare una Ultimaker 3 e una Ultimaker 2 in bundle, al costo complessivo di <Scadenza /> Euro, scrivi a posta@fablabromagna.org</h3>
<br />

<Articolo Nome="Ultimaker 2" Immagine="UM2.webp" Ore="100" DataAcquisto="new DateTime(2015, 1, 1)" Pdf="https://docs.rs-online.com/107f/0900766b816176b8.pdf"/>
<br>
<br>
<br>
<br>
<Articolo Nome="Ultimaker 3" Immagine="UM3.jpg" Ore="200" DataAcquisto="new DateTime(2017, 1, 1)"  Pdf="https://docs.rs-online.com/1f2b/0900766b81616f51.pdf"/>

<br>
<br>
<h1>Note:</h1>
<p>Le due stampanti sono funzionanti, calibrate, revisionate dai makers di Fablab Romagna APS.<br>
Non hanno difetti evidenti e non presentano malfunzionamenti.</p>
<p>Vengono vendute per passaggio a sistemi superiori e sono corredate di due rotoli di filamento PLA e di 6 mesi di garanzia sui difetti che dovessero evidenziare.</p>
<p>Attenzione: Garanzia non vuol dire assistenza alla stampa.<br>
Stampare con Ultimaker usando lo slicer Cura non è sempre semplice.<br>
Le stampanti 3D Cartesiane sono apparecchi che necessitano di un po' di ore di (a volte anche giorni) di esperienza per essere utilizzate al meglio.<br>
Ciò non toglie che ci hanno datto grandi soddisfazioni negli ultimi anni e ce ne separiamo con grande dispiacere perchè fanno parte della nostra storia!<br>
</p>



@code
{

}